@keyframes bounce {
    0%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
  }
  
  .bounce-1 {
    animation-delay: -0.32s;
  }
  .bounce-2 {
    animation-delay: -0.16s;
  }
  
  